@import '../variables';

.tabs {
  &__tab {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid $color-neutral;
    border-bottom: 0;
    background: #FFF;
    cursor: pointer;

    &:hover,
    &:focus {
      background: mix($color-primary, #FFF, 10%);
      outline: 0;
    }

    &_active,
    &_active:hover,
    &_active:focus {
      color: mix($color-primary, #FFF, 10%);
      background: $color-primary;
    }

    & + & {
      border-left: 0;
    }
  }

  &__content {
    padding: 16px;
    border: 1px solid $color-neutral;
  }
}
