<div class="list-page">
    <h1>All Articles</h1>
    <div class="list-page__list">
        <div class="list-page__article"
             ng-repeat="article in listPage.articles">
            <label>
                <input type="checkbox"
                       ng-model="article.selected"
                />
                <span ng-bind="article.label"></span>
            </label>
        </div>
    </div>
    <button class="list-page__open"
            ng-click="listPage.compareSelected()"
            ng-disabled="!listPage.getSelectedArticles().length"
            type="button">
        Open Tabs Page
    </button>
</div>
