@import '../../core/variables';

.list-page {
  &__list {
    margin-bottom: 8px;
  }

  &__article {
    padding: 8px 0;
  }

  &__open {
    padding: 8px 16px;
    border: 0;
    color: mix($color-primary, #FFF, 10%);
    background: $color-primary;
    cursor: pointer;

    &:hover,
    &:focus {
      background: mix($color-primary, #FFF, 80%);
    }

    &:active {
      background: mix($color-primary, #000, 90%);
    }

    &[disabled] {
      background: mix($color-primary, #FFF, 50%);
      cursor: default;
    }
  }
}
